[submodule "taller-1-condicionales-python-v1-13rianVargas"]
	path = taller-1-condicionales-python-v1-13rianVargas
	url = https://github.com/2024-2-Tecnicas-1/taller-1-condicionales-python-v1-13rianVargas.git