[submodule "proyecto-final-simulador-de-pokemon-pokechangua"]
	path = proyecto-final-simulador-de-pokemon-pokechangua
	url = https://github.com/2024-2-Tecnicas-1/proyecto-final-simulador-de-pokemon-pokechangua.git
